.book-summary ul.summary {
    margin: 5px 0 30px 0;
}

.book-summary ul.summary li.chapter a {
    padding: 15px 5px 5px 15px;
}

.book-summary ul.summary li.chapter ul.articles li.chapter a {
    padding: 5px 15px;
}

.markdown-section pre {
    line-height: 1.3;
    background: none;
    padding: .65em 1em;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: transparent;
    margin: 0 0 .85em 10px;
    box-shadow: -10px 0 0 0 rgba(0,0,0,0.1);
}

.markdown-section pre:hover {
    border-color: rgba(0,0,0,0.1);
}

.book .book-body .page-wrapper .page-inner section.normal pre .hljs-comment,
.book .book-body .page-wrapper .page-inner section.normal code .hljs-comment {
    color: #787878;
}

.code-filename {
	background-color: rgba(0,0,0,0.1);
}

a.plugin-anchor {
    color: rgba(0,0,0,0.3) !important;
    margin-left: -50px;
    padding-left: 52px;
}

a.plugin-anchor i {
    margin-left: -50px;
}

.indent ~ p {
    padding-left: 40px;
}
